@media (max-width: 600px) {
  * {
    /* overflow-x: hidden; */
    /* border: 2px solid orange; */
  }

  #desk-navbar {
    display: none;
  }
  #mobile-navbar {
    width: 100%;
    padding-inline: 30px;
    position: fixed;
    top:0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border: 2px solid orange;
    background-color: white;
  }

  .logo-text {
    font-size: 25px;
  }
  /* .logo-img {
    display: none;
  } */
  .menu-icon {
    font-size: 40px;
  }
  .menu-links {
    display: none;
    background-color: white;

    position: absolute;
    top: 80px;
    right: 5px;
    border: 2px solid;
    text-align: center;
    padding: 10px;
  }
  .menu-links ul {
    /* position: absolute;
     top:70px;
    right: 10px; */
    z-index: 1;
    list-style: none;
  }

  main {
    margin-inline: 5%;
    margin-top: 180px;
  }

  .profile {
    flex-wrap: wrap;
    margin-bottom: 15vh;
  }
  .profile-img img {
    height: 200px;
  }
  .profile-info .text-p2 {
    font-size: 1.5rem;
  }

  .about-details {
    flex-wrap: wrap;
  }

  .about-details-img {
    margin-inline: auto;
  }
  .about-details-img img {
    height: 200px;
  }
  .aboutme-desc {
    font-size: 16px;
  }

  .abt-experience {
    padding: 1.5rem;
    border: 0.1rem solid rgb(153, 153, 153);

    border-radius: 2rem;
  }
  .education {
    padding: 1.5rem;
    border: 0.1rem solid rgb(153, 153, 153);

    border-radius: 2rem;
  }

  .exp-description {
    flex-direction: column;
  }

  .project-containers {
    justify-content: center;
    /* align-items: center; */
  }
  .project-container1,
  .project-container2,
  .project-container3 {
    padding: 1rem;
  }
  .project-img img {
    height: 16rem;
  }
  .project-title {
    font-size: 25px;
  }

  #contacts {
    height: 40vh;
  }
  /* .contacts .title {
    font-size: 15px;
  } */
  .cont-info {
    margin-inline: auto;
    flex-wrap: wrap;
    padding: 0rem;
    border-radius: 2rem;
  }
  .cont-info a {
    margin: 0.4rem;
  }

  .backtotop a {
    display: flex;
    margin-inline: auto;
    background-color: chocolate;
    border: 2px solid White;
    padding: 0.8rem;
    color: White;
    width: 8rem;
    border-radius: 2rem;
  }
  .backtotop a:hover {
    background-color: white;
    color: orange;
    border: 2px solid orange;
  }

  footer {
    margin-bottom: 3rem;
  }
  .footer-nav ul {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
  }
}
